.container {
    background-color: #3f51b5;
    padding: 20px 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
}

.copyright {
    color: #fff;
}